{% extends 'index.html' %}

{% block body %}

<div class="container-fluid text-light p-3">
    <h1 class="text-center fs-3">Bem vindo ao PyCripto, projeto de criptografia em python.</h1>

    <p>Este projeto tem como objetivo apresentar duas técnicas de critografia de texto diferentes.</p>

    <p>Todo o código fonte da aplicação está disponível <a class="navbar-brand text-warning" href="https://www.github.com/HiLeomoreira/PyCripto" target="_blank">aqui</a></p>
</div>

<div class="container text-center p-2">
    <div class="row justify-content-end">
        <div class="col-4">
            <a href="https://brasil.un.org/pt-br/sdgs" target="_blank"><img src="https://media.giphy.com/media/RXJXrVNAOOCsTzBOU5/giphy.gif" alt="giphy: árvore balançando" width="150px" height="150px"></a>
        </div>
    </div>
</div>

{% endblock %}