{% extends 'index.html' %}

{% block body %}

<div class="container">
    <!-- Título -->
    <div class="container text-center p-3">
        <h1 class="text-center text-warning fs-3">Método de Vigenère</h1>
    </div>

    <!-- Sessão de criptografia -->
    <section class="container text-left p-1">
        <form action="/vigenere/criptografar" method="post">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <!--Input do usuário para crioptografar-->
                        <div class="form-floating">
                            <input type="text" name="decrypt_text" class="form-control" placeholder="Seu texto aqui..."
                                id="floatingTextarea_EncryptText" style="height: 100px"></input>
                            <label for="floatingTextarea_EncryptText">Seu texto aqui...</label>
                        </div>
                        <input type="text" name="key_encrypt" value="{{ key_word }}" class="btn btn-warning p-2 m-2" placeholder="Sua chave aqui...">
                        <input type="submit" value="Criptografar" class="btn btn-warning p-2 m-2">
                    </div>
                    <div class="col">
                        <!-- Output -->
                        <textarea type="text" class="form-control bg-dark text-light" style="height: 100px">{{ encrypted_text }}</textarea>
                    </div>
                </div>
            </div>  
        </form>
    </section>

    <!-- Sessão de descriptografia -->
    <section class="container text-left p-1">
        <form action="/vigenere/descriptografar" method="post">
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <!--Input do usuário para crioptografar-->
                        <div class="form-floating">
                            <input type="text" name="encrypt_text" class="form-control" placeholder="Seu texto codificado, separado por virgula..."
                                id="floatingTextarea_DecryptText" style="height: 100px"></input>
                            <label for="floatingTextarea_DecryptText">Seu texto codificado aqui...</label>
                        </div>
                        <input type="text" name="key_decrypt" value="{{ key_word }}" class="btn btn-success text-light p-2 m-2" placeholder="Sua chave aqui...">
                        <input type="submit" value="DesCriptografar" class="btn btn-success p-2 m-2">
                    </div>
                    <div class="col">
                        <textarea type="text" class="form-control bg-dark text-light" style="height: 100px">{{ decrypted_text }}</textarea>
                    </div>
                </div>
            </div>
        </form>
    </section>

</div>

{% endblock %}