<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PyCripto</title>

  <!-- Bootstrap e CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- Ícone da página -->
  <link rel="shortcut icon" href="https://media.giphy.com/media/LMt9638dO8dftAjtco/giphy.gif" type="image/x-icon">
</head>

<body class="h-100vh d-flex flex-column bg-light" style="height: 100vh;">

  <!--Título e barra de navegação-->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-link" href="/">
        <img src="https://media.giphy.com/media/LMt9638dO8dftAjtco/giphy.gif" alt="Logo" width="30" height="30"
          class="d-inline-block align-text-top">
        <strong>PyCripto</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-link {{ menu_home }}" aria-current="page" href="/">Home</a>
          <a class="nav-link text-link {{ menu_vigenere }}" href="/vigenere">Método Vigenère</a>
          <a class="nav-link text-link {{ menu_rsa }}" href="/rsa">Método RSA</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="d-flex flex-grow-1 justify-content-center">

    <!-- section of input/APP -->
    <section class="ms-4 me-4">
      {% block body %}

      {% endblock %}
    </section>

  </main>

  <footer class="d-flex justify-content-around align-items-center bg-secondary text-white w-100" style="min-height: 80px; font-size: 14px"">
    <div class="col-sm-6 p-0 m-0">
      <p class="p-0 m-0">
        Criptografia pode ser difícil, mas sabe o que é fácil? Ouvir um podcast sobre sustentabilidade.
      </p>
      <p class="p-0 m-0 text-center">
        <a href="https://open.spotify.com/show/51FYxkzZ0DPPUtd87T01ny?si=0dea84fdd8a74d9f" target="_blank" class="text-decoration-none text-warning">As Árvores Somos Nozes</a>
      </p>
    </div>
    <div class="p-0 m-0">
      <a href="https://github.com/HiLeomoreira/pycripto" class="text-decoration-none text-warning" target="_blank">
        <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" alt="Ícone do github" width="30px" height="30px">
        Código fonte  
      </a>
    </div>
  </footer>

  <!-- Script do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>